---
import Link from "./ui/Link.astro";
---

<header class="h-[100px] flex justify-between items-center mx-[100px]">
    <h1 class="text-md">Mateo Brañas</h1>
    <nav>
        <ul class="flex gap-12 text-md">
            <Link><a href="#work">Work</a></Link>
            <Link><a href="#contact">Contact</a></Link>
        </ul>
    </nav>
</header>