<main
    class="mx-[100px] flex flex-col gap-12 justify-center h-[calc(100vh-100px)]"
>
    <h1 class="text-[64px] leading-none">
        What’s up? I’m Mateo,
        <br />shaping digital experiences
        <br />that stick.
    </h1>
    <p class="text-2xl w-[600px]">
        A front-end developer passionate about building intuitive, interactive,
        and beautifully crafted web experiences that bring ideas to life.
    </p>
</main>
