<section id="work" class="text-white h-[100vh] px-[100px] bg-black flex flex-col gap-8">
    <p class="text-2xl pt-[50px]">
        01 <span class="text-slate-500">/ 05</span>
    </p>
    <div class="flex w-full justify-between">
        <h1 class="text-4xl w-[600px]">
            StartGlobal - One platform for your business back office.
        </h1>
        <div class="flex flex-col gap-4 text-right">
            <p class="border-b-2 max-">NEXT.JS</p>
            <p class="border-b-2">TAILWINDCSS</p>
        </div>
    </div>
    <div class="flex w-full gap-20 text-xl pt-8">
        <div class="flex flex-col gap-4">
            <p class="text-slate-500">Project</p>
            <p>StartGlobal</p>
        </div>
        <div class="flex flex-col gap-4">
            <p class="text-slate-500">Date</p>
            <p>2025 - present</p>
        </div>
    </div>
</section>
